<div class="inner_about">
	<h1>LYRICS</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu odio pretium, viverra tellus vitae, tristique nunc. Fusce ligula tortor, tempus tempus vehicula nec, viverra eu erat. Donec pellentesque ut elit ac laoreet. Aenean hendrerit ligula interdum dolor maximus sagittis. Aliquam rhoncus sapien arcu, et vehicula lorem rutrum feugiat. Nulla mattis orci nec ultricies molestie. Aliquam feugiat facilisis est vel vulputate. Aliquam eleifend tortor ac neque lacinia porttitor. Vivamus lacinia dapibus justo, ac eleifoend ipsum tristique nec. Fusce molestie arcu sed viverra egestas.</p>
</div><!--end inner about-->

<ul class="lyric_titles">
	<li><a href="lost.html">The Lost Estate</a></li>
	<li>//</li>
	<li><a href="other.html">Other Songs</a></li>
</ul>

<div class="lyrics_wrapper">
	<div class="lyrics_box">	
		<h3>The Fox</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->

	<div class="lyrics_box">
		<h3>Maria</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->

	<div class="lyrics_box">	
		<h3>Holy Fool</h3>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
	</div><!--end lyrics box-->

	<div class="lyrics_box">
		<h3>Living In Sin</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->

	<div class="lyrics_box">	
		<h3>Shenandoah</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->

	<div class="lyrics_box">
		<h3>Death Mask</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->

	<div class="lyrics_box">	
		<h3>Last Golden Age</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->

	<div class="lyrics_box">
		<h3>Friends Like Me</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->

	<div class="lyrics_box">	
		<h3>The Lost Estate</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->

	<div class="lyrics_box">
		<h3>You Never Call</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->

</div><!--end lyrics-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
<script src="js/plugins.min.js"></script>
<script src="js/all.js"></script>
<script src="js/improved.js"></script>
<script>
$(document).ready(function(e) {

var $lyrics = $('.lyric_titles');

$('.lyric_titles').find('a').on('click', function(e){
	e.preventDefault();

	var $desc = $('.lyrics_wrapper');

	switch ($(this).attr('href')) {
		case 'lost.html' :
			$desc.load('lost.html');
			break;
		case 'other.html' :
			$desc.load('other.html');
			break;	
	}

});

});

</script>




