<div class="lyrics_box">	
		<h3>Other Song</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->

	<div class="lyrics_box">
		<h3>Another</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->

	<div class="lyrics_box">	
		<h3>Holy Fool</h3>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
	</div><!--end lyrics box-->

	<div class="lyrics_box">
		<h3>Living In Sin</h3>
		<p class="lyrics">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
		Nullam tempor convallis nisi, a condimentum mauris ornare ut.<br>
		Nulla ornare, nibh vehicula malesuada dapibus, mauris tellus <br>
		volutpat risus, nec viverra dui eros sed massa. <br>
		Sed eu nunc lacus. Integer pharetra orci ut lectus porttitor,<br>
		in aliquet mauris hendrerit. Praesent non nibh sed risus <br>
		mollis finibus et sit amet magna. Sed dignissim tellus ac<br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		sapien luctus nisl, vestibulum semper est nulla eget dolor. <br>
		Cras metus augue, hendrerit viverra gravida quis, scelerisque <br>
		tortor vehicula consectetur. In erat purus, tempus mollis condimentum<br>
		vel, iaculis nec tellus. Aenean tempus consequat augue, <br>
		ac suscipit ex condimentum eu. Vivamus eleifend <br>
		erat eu ex iaculis varius vitae vitae lacus. <br>
		Praesent placerat tempus nisi, ut dictum mi placerat a.<br>
		Duis vestibulum, mauris non fringilla varius, purus<br>
		fermentum justo. Aenean lobortis neque sem, non dapibus mauris <br>
		laoreet id. Sed eu tempor nisl, in facilisis ligula.</p>
	</div><!--end lyrics box-->