<div class="inner_about">
	<h1>ANIMATION STILLS</h1>
</div><!--end inner about-->

<div class="still">
	<div class="film_top">
		<div class="film_desc">
			<h2>FILM ONE TITLE</h2>
			<p class="film_short">Aenean hendrerit ligula interdum dolor maximus sagittis. Aliquam rhoncus sapien arcu, et vehicula lorem rutrum feugiat. Nulla mattis orci nec ultricies molestie. Aliquam feugiat facilisis est vel vulputate. Aliquam eleifend tortor ac neque lacinia porttitor. Vivamus lacinia dapibus justo, ac eleifoend ipsum tristique nec. Fusce molestie arcu sed viverra egestas. Aenean hendrerit ligula interdum dolor maximus sagittis. Aliquam rhoncus sapien arcu, et vehicula lorem rutrum feugiat. Nulla mattis orci nec ultricies molestie. Aliquam feugiat facilisis est vel vulputate.</p>
		</div><!--end film desc-->
		<div class="side_img flex4"><img src="images/small_bike.jpg" alt="bike"></div>
	</div><!--end film top-->

	<div class="rows">
		<div class="row_four flex1"><img src="images/hiking.jpg" alt="hiking"></div>
		<div class="row_four flex2"><img src="images/robots.jpg" alt="robots"></div>
		<div class="row_four flex3"><img src="images/cat_lion.jpg" alt="lion"></div>
		<div class="row_four flex4"><img src="images/magician.jpg" alt="magic"></div>
	</div><!--end row-->
</div><!--end still-->

<div class="still">
	<div class="film_top">
		<div class="film_desc">
			<h2>FILM ONE TITLE</h2>
			<p class="film_short">Aenean hendrerit ligula interdum dolor maximus sagittis. Aliquam rhoncus sapien arcu, et vehicula lorem rutrum feugiat. Nulla mattis orci nec ultricies molestie. Aliquam feugiat facilisis est vel vulputate. Aliquam eleifend tortor ac neque lacinia porttitor. Vivamus lacinia dapibus justo, ac eleifoend ipsum tristique nec. Fusce molestie arcu sed viverra egestas. Aenean hendrerit ligula interdum dolor maximus sagittis. Aliquam rhoncus sapien arcu, et vehicula lorem rutrum feugiat. Nulla mattis orci nec ultricies molestie. Aliquam feugiat facilisis est vel vulputate.</p>
		</div><!--end film desc-->
		<div class="side_img flex4"><img src="images/small_bike.jpg" alt="bike"></div>
	</div><!--end film top-->

	<div class="rows">
		<div class="row_four flex1"><img src="images/hiking.jpg" alt="hiking"></div>
		<div class="row_four flex2"><img src="images/robots.jpg" alt="robots"></div>
		<div class="row_four flex3"><img src="images/cat_lion.jpg" alt="lion"></div>
		<div class="row_four flex4"><img src="images/magician.jpg" alt="magic"></div>
	</div><!--end row-->
</div><!--end still-->